       .margin {
           margin-left: 27%;
       }
       
       
       .quot {
            font-weight: inherit;
            padding-top: 33vh;
            font-size: x-large;
            margin-bottom: 3%;
            margin-right: 28%;
            }
            .texts {
                top: 3%;
                font-weight: inherit;
            }

       .circle {
        margin-top: 3%;
          }
          .circle a {
              text-decoration: none;
              display: inline-block;
              padding: 8px 16px;
          }
          .circle a {
              background-color: #f1f1f1;
              color: black;
              border-radius: 50%;
          }  
          .circle:hover a {
              background-color: #ddd;
              color:black;
          }